<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ywp.dao.AdminDao">
    <resultMap id="adminMap" type="com.ywp.entity.Admin" >
        <id column="admin_id" property="admin_id" jdbcType="INTEGER" />
        <result column="admin_name" property="admin_name" jdbcType="VARCHAR" />
        <result column="admin_password" property="admin_password" jdbcType="VARCHAR" />
    </resultMap>

    <!--管理员登录-->
    <select id="adminLogin" parameterType="String" resultMap="adminMap">
        select * from admin where admin_name=#{admin_name} and admin_name=#{admin_name}
    </select>


    <!--通过admin名称查找admin-->
    <select id="findAdminByName" parameterType="String" resultType="com.ywp.entity.Admin">
         select * from admin where admin_name = #{admin_name}
    </select>


    <!--管理员个人信息修改(包括用户名)-->
    <update id="admin_info_update" parameterType="com.ywp.entity.Admin">
        update admin set admin_name = #{admin_name},admin_password=#{admin_password} where admin_id=#{admin_id}
    </update>


    <!--管理员个人信息修改(不包括用户名)-->
    <update id="admin_info_save" parameterType="com.ywp.entity.Admin">
        update admin set admin_password=#{admin_password} where admin_id=#{admin_id}
    </update>


    <!--小区贴吧-->
    <!--查找所有已发帖子-->
    <select id="findArticleAll" parameterType="com.ywp.entity.Article" resultType="com.ywp.entity.Article">
        select * from article where 1 = 1
        <if test="topic!=null and topic != ''">
             and topic like "%"#{topic}"%"
        </if>
        <if test="content!=null and content != ''">
             and content like "%"#{content}"%"
        </if>
    </select>


    <!--根据帖子ID删除帖子-->
    <delete id="admin_delete_article">
        delete from article
        <where>
            article_id in
            <foreach collection="array" item="article_id" open="(" close=")" separator=",">
                #{article_id}
            </foreach>
        </where>

    </delete>
    <!--小区贴吧-->
















    <!--维修管理-->
    <!--查找所有上报维修-->
       <select id="findRepairedAll" parameterType="com.ywp.entity.Repaired" resultType="com.ywp.entity.Repaired">
           select repaired_id,user_name,topic,content,location,picture_path,publish_time,status from repaired r,user u WHERE r.user_id=u.user_id
               <if test="topic!=null and topic != ''">
                    and topic like "%"#{topic}"%"
               </if>
               <if test="content!=null and content != ''">
                    and content like "%"#{content}"%"
               </if>
               <if test="location!=null and location != ''">
                   and location like "%"#{location}"%"
               </if>
       </select>

    <!--根据维修ID删除上报维修-->
    <delete id="admin_delete_repaired">
        delete from repaired
        <where>
            repaired_id in
            <foreach collection="array" item="repaired_id" open="(" close=")" separator=",">
                #{repaired_id}
            </foreach>
        </where>

    </delete>

    <!--根据ID不通过报修审核,状态status=1 不通过报修审核-->
    <update id="admin_repaired_check_no" parameterType="int">
        update repaired set status = 1 where repaired_id = #{repaired_id}
    </update>

    <!--根据ID通过报修审核，状态status=2 通过报修审核-->
   <update id="admin_repaired_checked" parameterType="int">
       update repaired set status = 2 where repaired_id = #{repaired_id}
   </update>


    <!--根据ID报修已维修，状态status=3 报修已维修-->
   <update id="admin_repaired_repaired" parameterType="int">
       update repaired set status = 3 where repaired_id = #{repaired_id}
   </update>
    <!--维修管理-->



















    <!--物业管理-->
    <!--查询所有已注册用户-->
    <select id="findUserAll" resultType="com.ywp.entity.User">
        select * from user
    </select>

    <!--管理员发布物业费用-->
    <insert id="admin_property_publish" parameterType="com.ywp.entity.Property">
        insert into property(admin_id,user_id,year,month,money,publish_time,status) values (#{admin_id},#{user_id},#{year},#{month},#{money},now(),#{status})
    </insert>

    <!--所有物业账单详情-->
    <select id="getAllPropertyCost" parameterType="com.ywp.entity.Property" resultType="com.ywp.entity.Property">
        select property_id,user_address,user_name,year,month,money,publish_time,status from property p,user u,admin a where u.user_id = p.user_id and a.admin_id = p.admin_id
        <if test="user_name!=null and user_name != ''">
            and user_name like "%"#{user_name}"%"
        </if>
        <if test="year!=null and year != ''">
            and year like "%"#{year}"%"
        </if>
        <if test="month!=null and month != ''">
           and month like "%"#{month}"%"
        </if>
    </select>
    <!--物业管理-->


















    <!--用户管理-->
    <!--管理员查看所有用户-->
    <select id="getAllUserByName" parameterType="String" resultType="com.ywp.entity.User">
          select * from user where 1=1
        <if test="user_name!=null and user_name != ''">
             and user_name like "%"#{user_name}"%"
        </if>
        <if test="user_idcard!=null and user_idcard != ''">
              and user_idcard like "%"#{user_idcard}"%"
        </if>
        <if test="user_carnumber!=null and user_carnumber != ''">
              and user_carnumber like "%"#{user_carnumber}"%"
        </if>
    </select>


    <!--管理员根据ID删除业主-->
    <delete id="admin_delete_user" parameterType="int">
        delete from user where user_id = #{user_id}
    </delete>


    <!--管理员查看所有游客-->
    <select id="getAllVisitor" parameterType="String" resultType="com.ywp.entity.Visitor">
         select * from visitor where 1=1
       <if test="visitor_name!=null and visitor_name != ''">
            and visitor_name like "%"#{visitor_name}"%"
       </if>
       <if test="visitor_phonenumber!=null and visitor_phonenumber != ''">
             and visitor_phonenumber like "%"#{visitor_phonenumber}"%"
       </if>
       <if test="visitor_carnumber!=null and visitor_carnumber != ''">
             and visitor_carnumber like "%"#{visitor_carnumber}"%"
       </if>
   </select>


    <!--管理员根据ID删除游客-->
    <delete id="admin_delete_visitor" parameterType="int">
         delete from visitor where visitor_id = #{visitor_id}
    </delete>
    <!--用户管理-->












    <!--停车管理-->
    <!--业主停车登记-->
    <insert id="admin_user_park" parameterType="com.ywp.entity.User_park">
        <selectKey keyProperty="park_id" keyColumn="park_id" resultType="int" order="AFTER">
           select last_insert_id()
        </selectKey>
        insert into user_park(user_id,park_location,user_carnumber,park_start_time,status) values (#{user_id},#{park_location},#{user_carnumber},now(),#{status})
    </insert>


    <!--游客停车登记-->
    <insert id="admin_visitor_park" parameterType="com.ywp.entity.Visitor_park">
       <selectKey keyProperty="park_id" keyColumn="park_id" resultType="int" order="AFTER">
          select last_insert_id()
       </selectKey>
       insert into visitor_park(visitor_id,park_location,visitor_carnumber,park_start_time,status) values (#{visitor_id},#{park_location},#{visitor_carnumber},now(),#{status})
    </insert>


    <!--正在停车的业主停车记录-->
    <select id="getUserParking" parameterType="String" resultType="com.ywp.entity.User_park">
        select * from user_park where status = '0' and cost is null
       <if test="park_location!=null and park_location != ''">
             and park_location like "%"#{park_location}"%"
       </if>
       <if test="user_carnumber!=null and user_carnumber != ''">
             and user_carnumber like "%"#{user_carnumber}"%"
       </if>
    </select>


    <!--业主结束停车-->
    <update id="admin_user_stop_park" parameterType="int">
        update user_park set park_end_time = now() where park_id = #{park_id}
    </update>


    <!--通过停车单ID查找业主停车-->
    <select id="findUserParkByID" parameterType="int" resultType="com.ywp.entity.User_park">
        select * from user_park where park_id = #{park_id}
    </select>


    <!--业主缴纳停车费用-->
    <update id="admin_user_pay_park" parameterType="com.ywp.entity.User_park">
        update user_park set cost = #{cost},status = #{status} where park_id = #{park_id}
    </update>


    <!--正在停车的游客停车记录-->
    <select id="getVisitorParking" parameterType="String" resultType="com.ywp.entity.Visitor_park">
       select * from visitor_park where status = '0' and cost is null
      <if test="park_location!=null and park_location != ''">
            and park_location like "%"#{park_location}"%"
      </if>
      <if test="visitor_carnumber!=null and visitor_carnumber != ''">
            and visitor_carnumber like "%"#{visitor_carnumber}"%"
      </if>
   </select>


    <!--游客结束停车-->
    <update id="admin_visitor_stop_park" parameterType="int">
           update visitor_park set park_end_time = now() where park_id = #{park_id}
    </update>



    <!--通过停车单ID查找游客停车-->
    <select id="findVisitorParkByID" parameterType="int" resultType="com.ywp.entity.Visitor_park">
       select * from visitor_park where park_id = #{park_id}
    </select>


   <!--游客缴纳停车费用-->
   <update id="admin_visitor_pay_park" parameterType="com.ywp.entity.Visitor_park">
       update visitor_park set cost = #{cost},status = #{status} where park_id = #{park_id}
   </update>


    <!--业主停车账单页面-->
    <select id="getUserParkCost" parameterType="String" resultType="com.ywp.entity.User_park">
        SELECT park_id,u.user_name,up.user_carnumber,park_location,park_start_time,park_end_time, TIMESTAMPDIFF(MINUTE,park_start_time,park_end_time) as period,cost,status FROM user_park up,user u where u.user_id = up.user_id and cost is not null
        <if test="user_name!=null and user_name != ''">
              and user_name like "%"#{user_name}"%"
        </if>
        <if test="park_location!=null and park_location != ''">
               and park_location like "%"#{park_location}"%"
        </if>
        <if test="user_carnumber!=null and user_carnumber != ''">
               and up.user_carnumber like "%"#{user_carnumber}"%"
        </if>
    </select>


    <!--管理员删除业主停车记录-->
    <delete id="admin_delete_user_park" parameterType="int">
        delete from user_park where park_id = #{park_id}
    </delete>


    <!--游客停车账单页面-->
    <select id="getVisitorParkCost" parameterType="String" resultType="com.ywp.entity.Visitor_park">
        SELECT park_id,v.visitor_name,vp.visitor_carnumber,park_location,park_start_time,park_end_time, TIMESTAMPDIFF(MINUTE,park_start_time,park_end_time) as period,cost,status FROM visitor_park vp,visitor v where v.visitor_id=vp.visitor_id and cost is not null
           <if test="visitor_name!=null and visitor_name != ''">
                 and visitor_name like "%"#{visitor_name}"%"
           </if>
           <if test="park_location!=null and park_location != ''">
                  and park_location like "%"#{park_location}"%"
           </if>
           <if test="visitor_carnumber!=null and visitor_carnumber != ''">
                  and vp.visitor_carnumber like "%"#{visitor_carnumber}"%"
           </if>
    </select>


    <!--管理员删除游客停车记录-->
      <delete id="admin_delete_visitor_park" parameterType="int">
          delete from visitor_park where park_id = #{park_id}
      </delete>

    <!--停车管理-->














    <!--通告管理-->
    <!--先插入到信息内容表-->
    <insert id="admin_publish_message_text" parameterType="com.ywp.entity.Message">
      <selectKey keyProperty="message_text_id" keyColumn="message_text_id" resultType="int" order="AFTER">
             select last_insert_id()
      </selectKey>
      insert into message_text(topic,content) values (#{topic},#{content})
    </insert>

    <!--管理员发布通告-->
    <insert id="admin_publish_message" parameterType="com.ywp.entity.Message">
      insert into message(admin_id,user_id,message_text_id,publish_time,status) values (#{admin_id},#{user_id},#{message_text_id},now(),#{status})
    </insert>


    <!--通告详情-->
    <select id="getMessageList" parameterType="String" resultType="com.ywp.entity.Message">
        SELECT message_id,admin_name,user_name,topic,content,publish_time,status FROM message m,message_text mt,admin a,user u WHERE m.admin_id = a.admin_id and m.user_id = u.user_id and m.message_text_id = mt.message_text_id
          <if test="user_name!=null and user_name != ''">
                and user_name like "%"#{user_name}"%"
          </if>
          <if test="topic!=null and topic != ''">
                 and topic like "%"#{topic}"%"
          </if>
          <if test="content!=null and content != ''">
                 and content like "%"#{content}"%"
          </if>
    </select>



    <!--管理员删除通告-->
    <delete id="admin_delete_message">
        delete from message
            <where>
                message_id in
                <foreach collection="array" item="message_id" open="(" close=")" separator=",">
                    #{message_id}
                </foreach>
            </where>
    </delete>








    <!--通告管理-->

</mapper>