<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ywp.dao.UserDao">
    <resultMap id="userMap" type="com.ywp.entity.User" >
        <id column="user_id" property="user_id" jdbcType="INTEGER" />
        <result column="user_name" property="user_name" jdbcType="VARCHAR" />
        <result column="user_password" property="user_password" jdbcType="VARCHAR" />
        <result column="user_idcard" property="user_idcard" jdbcType="VARCHAR" />
        <result column="user_phonenumber" property="user_phonenumber" jdbcType="VARCHAR" />
        <result column="user_address" property="user_address" jdbcType="VARCHAR" />
        <result column="user_area" property="user_area" jdbcType="VARCHAR" />
        <result column="user_carnumber" property="user_carnumber" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="userParkMap" type="com.ywp.entity.User_park" >
          <id column="park_id" property="park_id" jdbcType="INTEGER" />
          <result column="user_id" property="user_id" jdbcType="INTEGER" />
           <result column="user_name" property="user_name" jdbcType="INTEGER" />
           <result column="user_carnumber" property="user_carnumber" jdbcType="INTEGER" />
           <result column="period" property="period" jdbcType="INTEGER" />
        <result column="cost" property="cost" jdbcType="INTEGER" />
          <result column="park_location" property="park_location" jdbcType="VARCHAR" />
          <result column="park_start_time" property="park_start_time" jdbcType="TIMESTAMP" />
          <result column="park_end_time" property="park_end_time" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="VARCHAR" />
    </resultMap>



    <!--业主登录-->
    <select id="userLogin" parameterType="String" resultMap="userMap">
        select * from user where user_name=#{user_name} and user_password=#{user_password}
    </select>

    <!--业主注册-->
   <insert id="userRegistered" parameterType="String">
       <!--注册插入后获取Id-->
       <selectKey keyProperty="user_id" keyColumn="user_id" resultType="int" order="AFTER">
           select last_insert_id();
       </selectKey>
       insert into user (user_name,user_password,user_idcard,user_phonenumber,user_address,user_area,user_carnumber) values (#{user_name},#{user_password},#{user_idcard},#{user_phonenumber},#{user_address},#{user_area},#{user_carnumber})
   </insert>


    <!--通过业主名称查找业主-->
    <select id="findUserByName" parameterType="String" resultMap="userMap">
        select * from user where user_name = #{user_name}
    </select>


    <!--业主个人信息修改(包括用户名)-->
    <update id="user_info_update" parameterType="com.ywp.entity.User">
        update user set user_name = #{user_name},user_password=#{user_password},user_idcard=#{user_idcard},user_phonenumber=#{user_phonenumber},user_address=#{user_address},user_area=#{user_area},user_carnumber=#{user_carnumber} where user_id=#{user_id}
    </update>

    <!--业主个人信息修改(不包括用户名)-->
    <update id="user_info_save" parameterType="com.ywp.entity.User">
        update user set user_password=#{user_password},user_idcard=#{user_idcard},user_phonenumber=#{user_phonenumber},user_address=#{user_address},user_area=#{user_area},user_carnumber=#{user_carnumber} where user_id=#{user_id}
    </update>






    <!--停车管理-->
    <!--通过业主id，查找业主停车记录-->
    <select id="findUserParkByID" parameterType="com.ywp.entity.User_park" resultMap="userParkMap">
        select park_id,user_name,up.user_carnumber,park_location,park_start_time,park_end_time from user_park up,user u where up.user_id = #{user_id} and u.user_id = #{user_id}
            <if test="user_carnumber!=null and user_carnumber != ''">
                 and up.user_carnumber like "%"#{user_carnumber}"%"
            </if>
            <if test="park_location!=null and park_location != ''">
              and park_location like "%"#{park_location}"%"
            </if>
    </select>


    <!--通过业主ID查找业主停车账单(搜索条件不包含停车单号)-->
    <select id="findUserParkCostByID" parameterType="com.ywp.entity.User_park" resultMap="userParkMap">
          SELECT up.park_id, u.user_name, up.user_carnumber,up.park_start_time,up.park_end_time, TIMESTAMPDIFF(MINUTE,park_start_time,park_end_time) AS period ,up.status from user_park up, user u WHERE up.user_id=#{user_id} and u.user_id=#{user_id}
                 <if test="user_carnumber!=null and user_carnumber != ''">
                    and up.user_carnumber like "%"#{user_carnumber}"%"
                 </if>
    </select>

    <!--通过业主ID查找业主停车账单(搜索条件包含停车单号)-->
    <select id="findUserParkCostByParkID" parameterType="com.ywp.entity.User_park" resultMap="userParkMap">
          SELECT up.park_id, u.user_name, up.user_carnumber,up.park_start_time,up.park_end_time, TIMESTAMPDIFF(MINUTE,park_start_time,park_end_time) AS period ,up.status from user_park up, user u WHERE up.user_id=#{user_id} and u.user_id=#{user_id} and up.park_id = #{park_id}
                 <if test="user_carnumber!=null and user_carnumber != ''">
                    and up.user_carnumber like "%"#{user_carnumber}"%"
                 </if>
    </select>
    <!--停车管理-->







    <!--物业管理-->
    <!--通过业主id，查找业主物业账单-->
    <select id="findUserPropertyCostByID" parameterType="com.ywp.entity.Property" resultType="com.ywp.entity.Property">
      SELECT property_id,admin_name,user_name,user_area,year,month,money,publish_time,status from property p, user u
      where p.user_id = #{user_id} and u.user_id=#{user_id}
        <if test="year!=null and year != ''">
             and year like "%"#{year}"%"
         </if>
         <if test="month!=null and month != ''">
            and month like "%"#{month}"%"
         </if>
    </select>

    <!--业主缴纳物业费用-->
    <update id="delivery_property" parameterType="int">
        update property set status = 1 where property_id = #{property_id}
    </update>
    <!--物业管理-->






    <!--账单管理-->
    <!--更新业主停车费用-->
   <update id="updateUserParkCost" parameterType="int">
       update user_park set cost = #{cost} where park_id = #{park_id}
   </update>

    <!--业主缴纳停车费用-->
   <update id="delivery_park" parameterType="int">
       update user_park set status = 1 where park_id = #{park_id}
   </update>
    <!--账单管理-->







    <!--维修管理-->
    <!--通过业主id查找业主维修记录-->
    <select id="findUserRepairedByID" parameterType="com.ywp.entity.Repaired" resultType="com.ywp.entity.Repaired">
        select repaired_id,user_name,topic,content,location,picture_path,publish_time,status from user u,repaired r where u.user_id = #{user_id} and r.user_id=#{user_id}
            <if test="topic!=null and topic != ''">
                 and topic like "%"#{topic}"%"
            </if>
            <if test="content!=null and content != ''">
                 and content like "%"#{content}"%"
            </if>
    </select>


    <!--业主上报维修-->
    <insert id="user_repaired" parameterType="com.ywp.entity.Repaired">
        <selectKey keyProperty="repaired_id" keyColumn="repaired_id" resultType="int" order="AFTER">
              select last_insert_id();
        </selectKey>
        insert into repaired(user_id,topic,content,location,picture_path,publish_time,status) values (#{user_id},#{topic},#{content},#{location},#{picture_path},now(),#{status})
    </insert>


    <!--业主删除维修单-->
    <delete id="user_delete_repaired">
        delete from repaired
              <where>
                  repaired_id in
                  <foreach collection="array" item="repaired_id" open="(" close=")" separator=",">
                      #{repaired_id}
                  </foreach>
              </where>
    </delete>
    <!--维修管理-->








    <!--消息管理-->
    <!--业主通告详情-->
    <select id="getUserMessageList" parameterType="com.ywp.entity.Message" resultType="com.ywp.entity.Message">
        SELECT message_id,admin_name,user_name,topic,content,publish_time,status FROM message m,message_text mt,admin a,user u WHERE m.admin_id = a.admin_id and m.user_id = u.user_id and m.message_text_id = mt.message_text_id and m.user_id = #{user_id}
          <if test="topic!=null and topic != ''">
                 and topic like "%"#{topic}"%"
          </if>
          <if test="content!=null and content != ''">
                 and content like "%"#{content}"%"
          </if>
    </select>


    <!--业主阅读通告-->
    <update id="user_message_look" parameterType="int">
        update message set status = 1 where message_id = #{message_id}
    </update>


    <!--业主删除通告-->
    <delete id="user_delete_message" parameterType="int">
        delete from message where message_id = #{message_id}
    </delete>


    <!--消息管理-->

</mapper>